<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>统一建模语言理论测试</title>
  </head>
  <body>
    <form method="post" action="/" >

      <%- include('partical/_header',{info:getUserInfo()}) %>
      <%- include('partical/_fill', {topics:getFillTopics()}) %>
      <%- include('partical/_choice', {topics:getChoiceTopics()}) %>
      <%- include('partical/_multi-choice', {topics:getMultiChoiceTopics()}) %>
      <%- include('partical/_true-false', {topics:getTrueFalseTopics()}) %>
      <%- include('partical/_short-answer', {topics:getShortAnswerTopics()}) %>

    </form>
  </body>
</html>