<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>统一建模语言理论测试</title>
  </head>
  <body>
    <form method="post" action="/" >

      <%- include('partical/_header', {data:data}) %>
      <%- include('partical/_fill', {data:data}) %>
      <%- include('partical/_choice', {data:data}) %>
      <%- include('partical/_multi-choice', {data:data}) %>
      <%- include('partical/_true-false', {data:data}) %>
      <%- include('partical/_short-answer', {data:data}) %>

    </form>
  </body>
</html>