<section class="panel panel-default">
  <%if (topics.length !== 0) {%>
    <section class="panel-heading">
      <h4>三&nbsp多选题(每题10分 共20分)</h4>
    </section>
  <% } %>
  <section class="panel-body">
    <% topics.forEach(function(topic, i){ %>
    <section>
      <label><%= i + 1 %>.<%= topic.question %></label>
      <% topic.options.forEach(function(option) { %>
      <label class="col-md-12"><input name=<%= topic.name %> type="checkbox"
                                      value=<%= option.item %> <% if(topic.input.indexOf(option.item) !== -1){ %>checked="checked"
          <% } %>
          >
        <%= option.describe%></label>
      <% }) %>
    </section>
    <% }) %>
  </section>
</section>